<div class="card">
    <div class="card-body little-profile text-center">
        <div class="pro-img m-t-20 m-b-20"><img src="assets/images/users/4.jpg" width="128" class="rounded-circle shadow" alt="user"></div>
        <h3 class="m-b-0">Mark J. Freeman</h3>
        <h6 class="text-muted">Web Designer</h6>
        <ul class="list-inline soc-pro m-t-30">
            <li class="list-inline-item mx-2"><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item mx-2"><a href="javascript:void(0)"><i class="fab fa-facebook-square"></i></a></li>
            <li class="list-inline-item mx-2"><a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a></li>
            <li class="list-inline-item mx-2"><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
            <li class="list-inline-item mx-2"><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="text-center bg-light">
        <div class="row">
            <div class="col-lg-6 col-md-6  p-20 border-right">
                <h4 class="m-b-0 font-medium">35000</h4><small>Followers</small></div>
            <div class="col-lg-6 col-md-6  p-20">
                <h4 class="m-b-0 font-medium">180</h4><small>Following</small></div>
        </div>
    </div>
    <div class="card-body text-center">
        <a href="javascript:void(0)" class="m-t-10 btn btn-success btn-md btn-rounded">Follow me</a>
    </div>
</div>