<div class="card">
    <div class="card-body">
        <h4 class="card-title">To Do list</h4>
        <!-- ============================================================== -->
        <!-- To do list widgets -->
        <!-- ============================================================== -->
        <div class="to-do-widget m-t-20">
            <ul class="list-task todo-list list-group m-b-0" data-role="tasklist">
                <li class="list-group-item" data-role="task">
                    <div class="checkbox checkbox-info">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> 
                            <span class="custom-control-description">Schedule meeting with</span> 
                        </label>
                    </div>
                    <ul class="assignedto">
                        <li>
                            <img src="assets/images/users/1.jpg" alt="user" ngbTooltip="Steave" data-placement="top">
                        </li>
                        <li>
                            <img src="assets/images/users/2.jpg" alt="user" ngbTooltip="Jessica" data-placement="top">
                        </li>
                        <li>
                            <img src="assets/images/users/3.jpg" alt="user" ngbTooltip="Priyanka" data-placement="top">
                        </li>
                        <li>
                            <img src="assets/images/users/4.jpg" alt="user" ngbTooltip="Selina" data-placement="top">
                        </li>
                    </ul>
                </li>
                <li class="list-group-item" data-role="task">
                    <div class="checkbox checkbox-info">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> 
                            <span class="custom-control-description">Give Purchase report to</span>
                            <span class="label label-light-danger">Today</span> 
                        </label>
                    </div>
                    <ul class="assignedto">
                        <li><img src="assets/images/users/3.jpg" alt="user" ngbTooltip="Priyanka" data-placement="top"></li>
                        <li><img src="assets/images/users/4.jpg" alt="user" ngbTooltip="Selina" data-placement="top"></li>
                    </ul>
                </li>
                <li class="list-group-item" data-role="task">
                    <div class="checkbox checkbox-info">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> 
                            <span class="custom-control-description">Book flight for holiday</span> 
                        </label>
                    </div>
                    <div class="item-date"> 26 jun 2017</div>
                </li>
                <li class="list-group-item" data-role="task">
                    <div class="checkbox checkbox-info">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> 
                            <span class="custom-control-description">Forward all tasks</span>
                            <span class="label label-light-warning">2 weeks</span> 
                        </label>
                    </div>
                    <div class="item-date"> 26 jun 2017</div>
                </li>
                <li class="list-group-item" data-role="task">
                    <div class="checkbox checkbox-info">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> 
                            <span class="custom-control-description">Recieve shipment</span> 
                        </label>
                    </div>
                    <div class="item-date"> 26 jun 2017</div>
                </li>
                <li class="list-group-item" data-role="task">
                    <div class="checkbox checkbox-info">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> 
                            <span class="custom-control-description">Send payment today</span> 
                        </label>
                    </div>
                    <div class="item-date"> 26 jun 2017</div>
                </li>
                <li class="list-group-item" data-role="task">
                    <div class="checkbox checkbox-info">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> 
                            <span class="custom-control-description">Important tasks</span>
                            <span class="label label-light-success">2 weeks</span> 
                        </label>
                    </div>
                    <ul class="assignedto">
                        <li><img src="assets/images/users/1.jpg" alt="user" ngbTooltip="Assign to Steave" data-placement="top"></li>
                        <li><img src="assets/images/users/2.jpg" alt="user" ngbTooltip="Assign to Jessica" data-placement="top"></li>
                        <li><img src="assets/images/users/4.jpg" alt="user" ngbTooltip="Assign to Selina" data-placement="top"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>