<app-pa></app-pa>
<!-- ============================================================== -->
<!-- Sales overview chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-6 col-md-12">
        <app-total-sales></app-total-sales>
    </div>
    <div class="col-lg-6 col-md-12">
        <app-sales-earning></app-sales-earning>
    </div>
</div>

<!-- ============================================================== -->
<!-- Projects of the month -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-6 col-md-12">
        <app-project></app-project>
    </div>
    <!-- ============================================================== -->
    <!-- Activity widget find scss into widget folder-->
    <!-- ============================================================== -->
    <div class="col-lg-6 col-md-12">
        <app-activity-timeline></app-activity-timeline>
    </div>
</div>