
    <p-toolbar>
        <div class="row">
            <div class="row button-group mt-3">
                <div class="col-lg-6 col-sm-12" style=" padding-top: 1px !important; margin-bottom: 5px">
                    <input type="text" class="col-md-12 form-control" id="search_user_list" placeholder="{{'main.buscar' | translate}}" #searchId (input)="dt.filterGlobal($event.target.value, 'contains')" >
                </div>
                <div class="col-lg-3 col-sm-12">
                    <button type="button" class="btn btn-block btn-primary" id="selection_button" (click)='selectRow(selectedItem)'><i class="fa fa-plus-circle pr-2" aria-hidden="true"></i>{{'main.nuevo_registro' | translate}}</button>          
                </div>
            </div>
          </div>
    </p-toolbar>
   
    <div class="p-t-10">
            <p-table #dt [columns]="cols" [value]="items" selectionMode="single" dataKey="id" [(selection)]="selectedItem" 
                    [paginator]="paginatorStatus" [rows]="rowsDetail" [responsive]="true"
                    [resizableColumns]="true" [scrollable]="true" [style]="{width:'100%'}" [loading]="loading" class="table table-striped">
                
                <ng-template pTemplate="colgroup" let-columns>
                    <col style="width:3em">
                    <colgroup>
                        <col *ngFor="let col of columns" [style.width]="col.width">
                    </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field"
                            [style.width]="col.width" pResizableColumn>
                            {{ col.header | translate}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns" class="ui-resizable-column"
                            [ngSwitch]="col.typeField">
                            <div *ngSwitchCase="'object'">
                                <span class="p-column-title">{{ col.header | translate}}</span>{{
                                rowData[col.field][col.fieldChild] }}
                            </div>
                            <div *ngSwitchCase="'standard'">
                                <span class="p-column-title">{{ col.header | translate}}</span>{{
                                rowData[col.field] }}
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            {{'main.no_registros' | translate}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
       <br>
    </div>


