<div class="card" [perfectScrollbar]="config" style="height: 730px;">
    <div class="card-body">
        <h4 class="card-title"><span class="lstick"></span>Feeds</h4>
        <ul class="feeds">
            <li *ngFor="let feed of feeds" class="feed-item d-flex py-2 align-items-center">
                <a href="javascript:void(0)" class="btn btn-circle d-flex align-items-center justify-content-center {{feed.bg}}">
                	<i class="{{feed.icon}}"></i>
                </a> 
                <div class="ml-3 text-truncate">{{feed.msg}} </div>
                <div class="justify-content-end text-truncate ml-auto">
                	<span class="text-muted font-12">{{feed.time}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>