<app-income-counter></app-income-counter>

<!-- ============================================================== -->
<!-- Subscribe -->
<!-- ============================================================== -->
<div class="row">

    <div class="col-lg-6 col-md-12">
        <app-website-visit></app-website-visit>
    </div>
    <div class="col-lg-6 col-md-12">
        <app-sales-overview></app-sales-overview>
    </div>
</div>

<!-- ============================================================== -->
<!-- Sales overview chart -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- Projects of the month -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-6 col-md-12">
        <app-project></app-project>
    </div>
    <!-- ============================================================== -->
    <!-- Activity widget find scss into widget folder-->
    <!-- ============================================================== -->
    <div class="col-lg-6 col-md-12">
        <app-activity-timeline></app-activity-timeline>
    </div>
</div>

<!-- ============================================================== -->
<!-- Comment and chat -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-6">
        <app-recent-comment></app-recent-comment>
    </div>
    <div class="col-lg-6">
        <app-feeds></app-feeds>
    </div>
</div>