<div class="card" [perfectScrollbar]="config" style="height: 504px;">
    <div class="card-body">
        <div class="d-flex">
            <h4 class="card-title"><span class="lstick"></span>Activity</h4>
            <!-- <span class="badge badge-success">9</span> -->
            
        </div>
    </div>
    <div class="activity-box">
        <div class="card-body">
            <!-- Activity item-->
            <div class="activity-item">
                <div class="round m-r-20"><img src="assets/images/users/2.jpg" alt="user" width="50" /></div>
                <div class="m-t-10">
                    <h5 class="m-b-0 font-medium">Mark Freeman <span class="text-muted font-14 m-l-10">| &nbsp; 6:30 PM</span></h5>
                    <h6 class="text-muted">uploaded this file </h6>
                    <table class="table vm border-0 m-b-0">
                        <tr>
                            <td class="m-r-10 border-0"><img src="assets/images/icon/zip.png" alt="user" /></td>
                            <td class="border-0">
                                <h5 class="m-b-0 font-medium ">Homepage.zip</h5>
                                <h6>54 MB</h6></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Activity item-->
            <!-- Activity item-->
            <div class="activity-item">
                <div class="round m-r-20"><img src="assets/images/users/3.jpg" alt="user" width="50" /></div>
                <div class="m-t-10">
                    <h5 class="m-b-5 font-medium">Emma Smith <span class="text-muted font-14 m-l-10">| &nbsp; 6:30 PM</span></h5>
                    <h6 class="text-muted">joined projectname, and invited <a href="javascript:void(0)">@maxcage, @maxcage, @maxcage, @maxcage, @maxcage,+3</a></h6>
                    <span class="image-list m-t-20">
                        <a href="javascript:void(0)"><img src="assets/images/users/1.jpg" class="rounded-circle" alt="user" width="50"></a>
                        <a href="javascript:void(0)"><img src="assets/images/users/2.jpg" class="rounded-circle" alt="user" width="50"></a>
                        <a href="javascript:void(0)"><span class="round round-warning">C</span></a>
                    <a href="javascript:void(0)"><span class="round round-danger">D</span></a>
                    <a href="javascript:void(0)">+3</a>
                    </span>
                </div>
            </div>
            <!-- Activity item-->
            <!-- Activity item-->
            <div class="activity-item">
                <div class="round m-r-20"><img src="assets/images/users/4.jpg" alt="user" width="50" /></div>
                <div class="m-t-10">
                    <h5 class="m-b-0 font-medium">David R. Jones  <span class="text-muted font-14 m-l-10">| &nbsp; 9:30 PM, July 13th</span></h5>
                    <h6 class="text-muted">uploaded this file </h6>
                    <span>
                        <a href="javascript:void(0)" class="m-r-10"><img src="assets/images/big/img1.jpg" alt="user" width="60"></a>
                        <a href="javascript:void(0)" class="m-r-10"><img src="assets/images/big/img2.jpg" alt="user" width="60"></a>
                    </span>
                </div>
            </div>
            <!-- Activity item-->
            <!-- Activity item-->
            <div class="activity-item">
                <div class="round m-r-20"><img src="assets/images/users/6.jpg" alt="user" width="50" /></div>
                <div class="m-t-10">
                    <h5 class="m-b-5 font-medium">David R. Jones <span class="text-muted font-14 m-l-10">| &nbsp; 6:30 PM</span></h5>
                    <h6 class="text-muted">Commented on<a href="javascript:void(0)">Test Project</a></h6>
                    <p class="m-b-0">It has survived not only five centuries, but also the leap into unchanged.</p>
                </div>
            </div>
            <!-- Activity item-->
        </div>
    </div>
</div>