<ngx-spinner bdColor = "rgba(255,255,255,0.8)" size = "default" color = "#d7a51e" type = "ball-scale-pulse" [fullScreen] = "true"></ngx-spinner>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0"><span class="lstick"></span>{{'users.c_contrasena' | translate}}</h4>
            </div>
            <form id="horizontalFormUsers" class="form-horizontal" [formGroup]="contrseniaForm">
                <div class="card-body">
                    <!-- <div class="row">
                        <div class="col-md-8 m-auto">
                            <div class="form-group" [class.has-error]="submitted && f.cActual.errors">
                                <label>{{'users.contrasena_actual' | translate}}*</label>
                                <input type="password" class="form-control" placeholder="{{'users.contrasena_actual' | translate}}" name="cActual"
                                formControlName="cActual" id="cActual" [ngClass]="{ 'is-invalid': submitted && f.cActual.errors }">
                                <div *ngIf="submitted && f.cActual.errors" >
                                    <small class="form-text text-danger" *ngIf="f.cActual.errors.required">{{'main.campo_requerido' | translate}}</small>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-8 m-auto">
                            <div class="form-group" [class.has-error]="submitted && f.password.errors">
                                <label>{{'users.nueva_contrasena' | translate}}*</label>
                                <input type="password" class="form-control" placeholder="{{'users.nueva_contrasena' | translate}}" name="password"
                                formControlName="password" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                <div *ngIf="submitted && f.password.errors" >
                                    <small class="form-text text-danger" *ngIf="f.password.errors.required">{{'main.campo_requerido' | translate}}</small>
                                </div>
                                <small class="form-text text-danger" *ngIf="f.password.errors?.minlength">{{'main.min_caracteres' | translate:param8}}</small>
                                <small class="form-text text-danger" *ngIf="f.password.errors?.maxlength && f.password?.dirty">{{'main.caracteres' | translate:param100}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 m-auto">
                            <div class="form-group" [class.has-error]="submitted && f.repPassword.errors">
                                <label>{{'users.rep_contrasenia' | translate}}*</label>
                                <input type="password" class="form-control" placeholder="{{'users.rep_contrasenia' | translate}}"
                                formControlName="repPassword" id="repPassword" [ngClass]="{ 'is-invalid': submitted && f.repPassword.errors }">
                                <div *ngIf="submitted && f.repPassword.errors">
                                    <small class="form-text text-danger" *ngIf="f.repPassword.errors.required">{{'main.campo_requerido' | translate}}</small>
                                </div>
                                <small class="form-text text-danger" *ngIf="camposIguales()">{{'main.contr_val' | translate}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row button-group">
                        <div class="col-lg-2 col-md-6">
                            <button type="submit" class="btn btn-block btn-info"  (click)="onSubmit()">{{'main.guardar' | translate}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>