<ngx-spinner bdColor = "rgba(255,255,255,0.8)" size = "default" color = "#d7a51e" type = "ball-scale-pulse" [fullScreen] = "true"></ngx-spinner>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0"><span class="lstick"></span>{{'carpeta_asig.secciones' | translate}} </h4>
                <span class="card-subtitle" *ngIf="section">{{section.nombre}} de {{section.carpeta.nombre}}</span>
            </div>
            <div class="card-body">
                <!--- TABLA FORMATOS DE ASSESSTMEN -->
                <div class="row">
                    <div class="col-md-12">
                        <ngb-accordion #a="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelHeader>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <label class="card-title mb-0">{{'carpeta_asig.formatos_assessment' | translate}} [ {{((assessmentList) ?
                                            assessmentList.length : 0)}} ]</label>
                                        <button ngbPanelToggle class="btn btn-info btn-rounded btn-xs"><i
                                                class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent class="p-0">
                                    <p-table #dt [columns]="assessmentColumns" [value]="assessmentList" selectionMode="single"
                                        dataKey="id" [paginator]="assessmentTablePaginator" [rows]="assessmentTableRows"
                                        [responsive]="true" [resizableColumns]="true" [(selection)]="selectedAssesstmentRow"
                                        class="table table-striped">
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns" [pSortableColumn]="col.field"
                                                    [style.width]="col.width" pResizableColumn>
                                                    {{ col.header | translate }}
                                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                                </th>
                                                <th style="width:7em">{{'main.acciones' | translate}}</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr [pSelectableRow]="rowData">
                                                <td *ngFor="let col of columns" class="ui-resizable-column"
                                                    [ngSwitch]="col.typeField">
                                                    <div *ngSwitchCase="'object'">
                                                        <span class="p-column-title">{{ col.header | translate }}</span>{{
                                                        rowData[col.field][col.fieldChild] }}
                                                    </div>
                                                    <div *ngSwitchCase="'standard'">
                                                        <span class="p-column-title">{{ col.header | translate }}</span>{{
                                                        rowData[col.field] }}
                                                    </div>
                                                    <div *ngSwitchCase="'date'">
                                                        <span class="p-column-title">{{ col.header | translate}}</span>{{
                                                        rowData[col.field] | date: 'dd/MM/yyyy'}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" id="download_assessment_button"
                                                        class="btn btn-outline-info btn-rounded btn-xs" title="Descargar"
                                                        (click)="onDownloadAssessment(rowData.id, rowData.nombre)"><i class="fas fa-download"
                                                            aria-hidden="true"></i></button>
                                                    <button type="button" id="delete_assessment_button"
                                                        class="btn btn-outline-danger btn-rounded btn-xs" title="{{'main.eliminar' | translate}}"
                                                        (click)="confirmModal(confirmation, rowData.id, 'assesstmen')"><i
                                                            class="fa fa-trash-alt" aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage" let-columns>
                                            <tr>
                                                <td [attr.colspan]="columns.length">
                                                    {{'main.no_registros' | translate}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    
                                    <div class="p-t-10 p-b-10">
                                        <button class="btn btn-info" (click)="onNewAssesstmen()" type="submit"
                                            title="{{'main.nuevo_registro' | translate}}" label="{{'main.nuevo_registro' | translate}}"><i
                                                class="fa fa-plus-circle pr-2" aria-hidden="true"></i>{{'main.nuevo_registro' | translate}}</button>
                                    </div>
                                    <!-- MODAL DE CONFIRMACIÓN -->
                                    <ng-template #confirmation let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title">{{'main.confirmar' | translate}}</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="text-align: center;">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: large;"></i>
                                            <p>{{'main.conf_mensaje' | translate}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light btn-sm"
                                                (click)="modal.close('Acept button click')">{{'main.aceptar' | translate}}</button>
                                            <button type="button" class="btn  btn-light btn-sm"
                                                (click)="modal.dismiss('Cancel click')">{{'main.cancelar' | translate}}</button>
                                        </div>
                                    </ng-template>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>

                <!--- TABLA DE MUESTRAS DE ENUNCIADOS -->
                <div class="row">
                    <div class="col-md-12">
                        <ngb-accordion #a="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelHeader>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <label class="card-title mb-0">{{'carpeta_asig.muestra_enunciado' | translate}} [ {{((statementsList) ?
                                            statementsList.length : 0)}} ]</label>
                                        <button ngbPanelToggle class="btn btn-info btn-rounded btn-xs"><i
                                                class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent class="p-0">
                                    <p-table #dt [columns]="statementsColumns" [value]="statementsList" selectionMode="single"
                                        dataKey="id" [paginator]="statementsTablePaginator" [rows]="statementsTableRows"
                                        [responsive]="true" [resizableColumns]="true" [(selection)]="selectedStatementRow"
                                        class="table table-striped">
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns" [pSortableColumn]="col.field"
                                                    [style.width]="col.width" pResizableColumn>
                                                    {{ col.header | translate }}
                                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                                </th>
                                                <th style="width:7em">{{'main.acciones' | translate}}</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr [pSelectableRow]="rowData">
                                                <td *ngFor="let col of columns" class="ui-resizable-column"
                                                    [ngSwitch]="col.typeField">
                                                    <div *ngSwitchCase="'object'">
                                                        <span class="p-column-title">{{ col.header | translate }}</span>{{
                                                        rowData[col.field][col.fieldChild] }}
                                                    </div>
                                                    <div *ngSwitchCase="'standard'">
                                                        <span class="p-column-title">{{ col.header | translate }}</span>{{
                                                        rowData[col.field] }}
                                                    </div>
                                                    <div *ngSwitchCase="'date'">
                                                        <span class="p-column-title">{{ col.header | translate}}</span>{{
                                                        rowData[col.field] | date: 'dd/MM/yyyy'}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" id="download_statement_samples_detail_button"
                                                        class="btn btn-outline-info btn-rounded btn-xs" title="Descargar"
                                                        (click)="onDownloadStatementSamples(rowData.id, rowData.nombre)"><i class="fas fa-download"
                                                            aria-hidden="true"></i></button>
                                                    <button type="button" id="delete_statement_samples_detail_button"
                                                        class="btn btn-outline-danger btn-rounded btn-xs" title="{{'main.eliminar' | translate}}"
                                                        (click)="confirmModal(confirmation, rowData.id, 'statementSamples')"><i
                                                            class="fa fa-trash-alt" aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage" let-columns>
                                            <tr>
                                                <td [attr.colspan]="columns.length">
                                                    {{'main.no_registros' | translate}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    
                                    <div class="p-t-10 p-b-10">
                                        <button class="btn btn-info" (click)="onNewStatementSamples()" type="submit"
                                            title="{{'main.nuevo_registro' | translate}}" label="{{'main.nuevo_registro' | translate}}"><i
                                                class="fa fa-plus-circle pr-2" aria-hidden="true"></i>{{'main.nuevo_registro' | translate}}</button>
                                    </div>
                                    <!-- MODAL DE CONFIRMACIÓN -->
                                    <ng-template #confirmation let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title">{{'main.confirmar' | translate}}</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="text-align: center;">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: large;"></i>
                                            <p>{{'main.conf_mensaje' | translate}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light btn-sm"
                                                (click)="modal.close('Acept button click')">{{'main.aceptar' | translate}}</button>
                                            <button type="button" class="btn  btn-light btn-sm"
                                                (click)="modal.dismiss('Cancel click')">{{'main.cancelar' | translate}}</button>
                                        </div>
                                    </ng-template>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
                
                <!--- TABLA DE MUESTRAS DE ESTUDIANTES -->
                <div class="row">
                    <div class="col-md-12">
                        <ngb-accordion #a="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelHeader>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <label class="card-title mb-0">{{'carpeta_asig.muestra_estud' | translate}} [ {{((studentSamplesList) ?
                                            studentSamplesList.length : 0)}} ]</label>
                                        <button ngbPanelToggle class="btn btn-info btn-rounded btn-xs"><i
                                                class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent class="p-0">
                                    <p-table #dt [columns]="studentSamplesColumns" [value]="studentSamplesList"
                                        selectionMode="single" dataKey="id"
                                        [paginator]="studentSamplesTablePaginator"
                                        [rows]="studentSamplesTableRows" [responsive]="true"
                                        [resizableColumns]="true" [(selection)]="selectedStudentSampleRow"
                                        class="table table-striped">
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns" [pSortableColumn]="col.field"
                                                    [style.width]="col.width" pResizableColumn>
                                                    {{ col.header | translate }}
                                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                                </th>
                                                <th style="width:7em">{{'main.acciones' | translate}}</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr [pSelectableRow]="rowData">
                                                <td *ngFor="let col of columns" class="ui-resizable-column"
                                                    [ngSwitch]="col.typeField">
                                                    <div *ngSwitchCase="'object'">
                                                        <span class="p-column-title">{{ col.header | translate }}</span>{{
                                                        rowData[col.field][col.fieldChild] }}
                                                    </div>
                                                    <div *ngSwitchCase="'standard'">
                                                        <span class="p-column-title">{{ col.header | translate }}</span>{{
                                                        rowData[col.field] }}
                                                    </div>
                                                    <div *ngSwitchCase="'date'">
                                                        <span class="p-column-title">{{ col.header | translate}}</span>{{
                                                        rowData[col.field] | date: 'dd/MM/yyyy'}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" id="downoload_student_samples_detail_button"
                                                        class="btn btn-outline-info btn-rounded btn-xs" title="Download"
                                                        (click)="onDownloadStudentSamples(rowData.id, rowData.nombre)"><i
                                                            class="fas fa-download" aria-hidden="true"></i></button>
                                                    <button type="button" id="delete_student_samples_detail_button"
                                                        class="btn btn-outline-danger btn-rounded btn-xs" title="{{'main.eliminar' | translate}}"
                                                        (click)="confirmModal(confirmation, rowData.id, 'studentSamples')"><i
                                                            class="fa fa-trash-alt" aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage" let-columns>
                                            <tr>
                                                <td [attr.colspan]="columns.length">
                                                    {{'main.no_registros' | translate}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    
                                    <div class="p-t-10 p-b-10">
                                        <button class="btn btn-info" (click)="onNewStudentSamples()" type="submit"
                                            title="{{'main.nuevo_registro' | translate}}" label="{{'main.nuevo_registro' | translate}}"><i
                                                class="fa fa-plus-circle pr-2" aria-hidden="true"></i>{{'main.nuevo_registro' | translate}}</button>
                                    </div>

                                    <!-- MODAL DE CONFIRMACIÓN -->
                                    <ng-template #confirmation let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title">{{'main.confirmar' | translate}}</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="text-align: center;">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: large;"></i>
                                            <p>{{'main.conf_mensaje' | translate}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light btn-sm"
                                                (click)="modal.close('Acept button click')">{{'main.aceptar' | translate}}</button>
                                            <button type="button" class="btn  btn-light btn-sm"
                                                (click)="modal.dismiss('Cancel click')">{{'main.cancelar' | translate}}</button>
                                        </div>
                                    </ng-template>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>

                <!--- TABLA DE RETROALIMENTACIONES -->
                <div class="row">
                    <div class="col-md-12">
                        <ngb-accordion #a="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelHeader>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <label class="card-title mb-0">{{'carpeta_asig.retroalimentacion' | translate}} [ {{((feedbackList) ?
                                            feedbackList.length : 0)}} ]</label>
                                        <button ngbPanelToggle class="btn btn-info btn-rounded btn-xs"><i
                                                class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent class="p-0">
                                    <p-table #dt [columns]="feedbackColumns" [value]="feedbackList"
                                        selectionMode="single" dataKey="id" [paginator]="feedbackTablePaginator"
                                        [rows]="feedbackTableRows" [responsive]="true" [resizableColumns]="true"
                                        [(selection)]="selectedFeedbackRow" class="table table-striped">
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns" [pSortableColumn]="col.field"
                                                    [style.width]="col.width" pResizableColumn>
                                                    {{ col.header | translate }}
                                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                                </th>
                                                <th style="width:7em">{{'main.acciones' | translate}}</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr [pSelectableRow]="rowData">
                                                <td *ngFor="let col of columns" class="ui-resizable-column"
                                                    [ngSwitch]="col.typeField">
                                                    <div *ngSwitchCase="'object'">
                                                        <span class="p-column-title">{{ col.header | translate }}</span>{{
                                                        rowData[col.field][col.fieldChild] }}
                                                    </div>
                                                    <div *ngSwitchCase="'standard'">
                                                        <span class="p-column-title">{{ col.header | translate }}</span>{{
                                                        rowData[col.field] }}
                                                    </div>
                                                    <div *ngSwitchCase="'date'">
                                                        <span class="p-column-title">{{ col.header | translate}}</span>{{
                                                        rowData[col.field] | date: 'dd/MM/yyyy'}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" id="download_feedback_detail_button"
                                                        class="btn btn-outline-info btn-rounded btn-xs" title="Download"
                                                        (click)="onDownloadFeedback(rowData.id, rowData.nombre)"><i
                                                            class="fas fa-download" aria-hidden="true"></i></button>
                                                    <button type="button" id="delete_feedback_detail_button"
                                                        class="btn btn-outline-danger btn-rounded btn-xs" title="{{'main.eliminar' | translate}}"
                                                        (click)="confirmModal(confirmation, rowData.id, 'feedback')"><i
                                                            class="fa fa-trash-alt" aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage" let-columns>
                                            <tr>
                                                <td [attr.colspan]="columns.length">
                                                    {{'main.no_registros' | translate}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    
                                    <div class="p-t-10 p-b-10">
                                        <button class="btn btn-info" (click)="onNewFeedback()" type="submit"
                                            title="{{'main.nuevo_registro' | translate}}" label="{{'main.nuevo_registro' | translate}}"><i
                                                class="fa fa-plus-circle pr-2" aria-hidden="true"></i>{{'main.nuevo_registro' | translate}}</button>
                                    </div>
                                    <!-- MODAL DE CONFIRMACIÓN -->
                                    <ng-template #confirmation let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title">{{'main.confirmar' | translate}}</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="text-align: center;">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: large;"></i>
                                            <p>{{'main.conf_mensaje' | translate}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light btn-sm"
                                                (click)="modal.close('Acept button click')">{{'main.aceptar' | translate}}</button>
                                            <button type="button" class="btn  btn-light btn-sm"
                                                (click)="modal.dismiss('Cancel click')">{{'main.cancelar' | translate}}</button>
                                        </div>
                                    </ng-template>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE DETALLES -->
<div bsModal #mdStickUp="bs-modal" class="modal slide-up-appear disable-scroll" [config]="{ backdrop: 'static' }"
    tabindex="-1" role="dialog" aria-hidden="true">
    <ng-container *ngIf="mdStickUp.isShown">
        <div class="modal-dialog modal-lg" style="max-width:800px !important; min-width: 300px;">
            <div class="modal-content-wrapper">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col clearfix p-l-0 p-r-0">
                            <span class="float-right">
                                <a href="javascript:void(0)" (click)="mdStickUp.hide()">
                                    <p class="small-text m-0"><i class="fa fa-times pr-2" aria-hidden="true"></i></p>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <ng-container *ngIf="modalComponetActive === 'assesstmen'">
                            <app-file-upload  (onEventCancel) ="mdStickUp.hide()" (onEventSave) ="onSaveAssesstmen($event)" 
                            [urlFileUpload]="getUrlFileUpload()" 
                            [ownerFileId]="selectedSectionId" 
                            [modeUpload]="modalComponetActive"
                            [accept]="'.pdf, application/msword, .xlsx, image/*'"
                            [multiple]= "false" 
                            >
                            </app-file-upload>
                        </ng-container>

                        <ng-container *ngIf="modalComponetActive === 'statementSamples'">
                            <app-file-upload  (onEventCancel) ="mdStickUp.hide()" (onEventSave) ="onSaveStatementSamples($event)" 
                            [urlFileUpload]="getUrlFileUpload()" 
                            [ownerFileId]="selectedSectionId" 
                            [modeUpload]="modalComponetActive"
                            [accept]="'.pdf, application/msword, .xlsx, image/*'"
                            [multiple]= "false" 
                            >
                            </app-file-upload>
                        </ng-container>

                        <ng-container *ngIf="modalComponetActive === 'studentSamples'">
                            <app-file-upload  (onEventCancel) ="mdStickUp.hide()" (onEventSave) ="onSaveStudentSamples($event)" 
                            [urlFileUpload]="getUrlFileUpload()" 
                            [ownerFileId]="selectedSectionId" 
                            [modeUpload]="modalComponetActive"
                            [accept]="'.pdf, application/msword, .xlsx, image/*'"
                            [multiple]= "false" 
                            >
                            </app-file-upload>
                        </ng-container>

                        <ng-container *ngIf="modalComponetActive === 'feedback'">
                            <app-file-upload  (onEventCancel) ="mdStickUp.hide()" (onEventSave) ="onSaveFeedback($event)" 
                            [urlFileUpload]="getUrlFileUpload()" 
                            [ownerFileId]="selectedSectionId" 
                            [modeUpload]="modalComponetActive"
                            [accept]="'.pdf, application/msword, .xlsx, image/*'"
                            [multiple]= "false" 
                            >
                            </app-file-upload>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

