<!-- <ngx-spinner bdColor = "rgba(255,255,255,0.8)" size = "default" color = "#d7a51e" type = "ball-scale-pulse" [fullScreen] = "true"></ngx-spinner> -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title"><span class="lstick"></span>{{'docente.docente_rol' | translate}}</h4>
        <h6 class="card-subtitle">{{programaTr | translate}}</h6>
    </div>
    <div class="card-body">
        <canvas *ngIf="chartReady" baseChart height="150px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [colors]="[{backgroundColor: ['#fe6383', '#ff9f40', '#ffcc55']}]">
        </canvas>
    </div>
</div>