<div class="row">
    <div class="col-md-12">
        <!--- Complete Table -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0"><span class="lstick"></span>Complete Table </h4>
                <span class="card-subtitle">This is a more complete example with <span class="text-danger"> Add, Edit, Delete, sorting, filtering, paging</span></span>
                <div class="d-flex mt-3">
                    <input type="text" placeholder="Search" class="form-control w-auto" [(ngModel)]="csearchTerm" />
                    <button type="button"  class="btn btn-primary ml-auto" (click)="openModal(editModal, null)">+ Add Client</button>
                </div>
                <table class="table table-striped border mt-4">
                    <thead>
                        <tr>
                            <th >ID</th>
                            <th sortable="Name" (sort)="onSort($event)">Name</th>
                            <th sortable="UserName" (sort)="onSort($event)">User Name</th>
                            <th sortable="Email" (sort)="onSort($event)">Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of cfilterClient | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize">
                            <td>{{ client.Id }}</td>
                            <td>
                                <img [src]='client.imagePath'class="mr-2 rounded-circle" style="width: 30px">
                                <ngb-highlight [result]="client.Name" [term]="csearchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="client.UserName" [term]="csearchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="client.Email" [term]="csearchTerm"></ngb-highlight>
                            </td>


                            <td>
                            <i class="ti-pencil text-info m-r-10 pointer"  (click)="openModal(editModal, client)"></i>
                                <i class="ti-trash text-danger pointer" (click)="delete(client.Id)"></i> 
                            </td>


                        </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-between p-2">    
                    <ngb-pagination [(page)]="cpage"
                    [pageSize]="cpageSize"
                    [collectionSize]="totalLengthOfCollection"></ngb-pagination>
                    <select class="custom-select" style="width: auto" [(ngModel)]="cpageSize">
                    <option [ngValue]="2">2 items per page</option>
                    <option [ngValue]="4">4 items per page</option>
                    <option [ngValue]="6">6 items per page</option>
                </select>
                </div>
            </div>
        </div>
        <!--- End Complete Table -->
        <!--- Basic Table -->
        <div class="card">
            <div class="card-body">
            <h4 class="card-title mb-0"><span class="lstick"></span>Basic Table </h4>
            <span class="card-subtitle">Table is just a mapping of objects to table rows with <span class="text-danger">ngFor</span></span>
            <table class="table table-striped border mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clientList">
                        <td>{{ client.Id }}</td>
                        <td>
                            <img [src]='client.imagePath' class="mr-2 rounded-circle" style="width: 30px">
                            {{client.Name}}
                        </td>
                        <td>
                            {{client.UserName}}
                        </td>
                        <td>
                            {{client.Email}}
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <!--- Sortable Table -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0"><span class="lstick"></span>Sortable Table </h4>
                <span class="card-subtitle">You can introduce custom directives for table headers to sort columns</span>
                    <table class="table table-striped border mt-4">
                        <thead>
                            <tr>
                                <th >ID</th>
                                <th sortable="Name" (sort)="onSort($event)">Name</th>
                                <th sortable="UserName" (sort)="onSort($event)">User Name</th>
                                <th sortable="Email" (sort)="onSort($event)">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of sortClientList">
                                <td>{{client.Id}}</td>
                                <td>
                                    <img [src]='client.imagePath' class="mr-2 rounded-circle" style="width: 30px">
                                    {{client.Name}}
                                </td>
                                <td>
                                    {{client.UserName}}
                                </td>
                                <td>
                                    {{client.Email}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <!--- End Sortable Table -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0"><span class="lstick"></span>Search and filtering </h4>
                <span class="card-subtitle">You can do filter table data, in this case with observables and our NgbHighlight component used in Typeahead</span>
                
                    <div class="form-group form-inline mt-3">
                        Full text search: <input  class="form-control ml-2" placeholder="Search" type="text" [(ngModel)]="searchTerm" />
                    </div>
                
                <table class="table table-striped border">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Full Name</th>
                            <th>User Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of filterClient">
                            <td>{{ client.Id }}</td>
                            <td>
                                <img [src]='client.imagePath' class="mr-2 rounded-circle" style="width: 30px">
                                <ngb-highlight [result]="client.Name" [term]="searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="client.UserName" [term]="searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="client.Email" [term]="searchTerm"></ngb-highlight>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--- pagination Table -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0"><span class="lstick"></span>Pagination Table </h4>
                <span class="card-subtitle">You can bind our NgbPagination component with slicing the data list</span>
                <select class="custom-select" style="float: right; width: auto" [(ngModel)]="pageSize">
                    <option [ngValue]="2">2 items per page</option>
                    <option [ngValue]="4">4 items per page</option>
                    <option [ngValue]="6">6 items per page</option>
                </select>
            <table class="table table-striped border mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>User Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clientList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <td>{{ client.Id }}</td>
                        <td>
                            <img [src]='client.imagePath' class="mr-2 rounded-circle" style="width: 30px">
                            {{client.Name}}
                        </td>
                        <td>
                            {{client.UserName}}
                        </td>
                        <td>
                            {{client.Email}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-center p-2">
              <ngb-pagination [collectionSize]="clientList.length" [(page)]="page" [pageSize]="pageSize">
              </ngb-pagination>
            </div>
        </div>
        </div>
        <!--- End pagination Table -->

</div>
</div>
<!--- Modal for complete Table -->
<ng-template #editModal let-modal>

    <div class="modal-header">
        <h5 class="modal-title" id="editLabel">{{editAddLabel}} Client</h5>
        <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="editClient" (ngSubmit)="onSubmit()">


            <div class="form-group row">
                <label for="fullName" class="col-sm-4 col-form-label">Full Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="fullName" id="fullName"
                        (blur)=logValidationErrors(editClient)>
                    <span class="help-block" *ngIf="formsErrors.fullName">
                        {{formsErrors.fullName}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="userName" class="col-sm-4 col-form-label">User Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="UserName" id="userName"
                        (blur)=logValidationErrors(editClient)>
                    <span class="help-block" *ngIf="formsErrors.UserName">
                        {{formsErrors.UserName}}
                    </span>
                </div>
            </div>            
            <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" formControlName="email" id="email"
                        (blur)=logValidationErrors(editClient)>
                    <span class="help-block" *ngIf="formsErrors.email">
                        {{formsErrors.email}}
                    </span>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="closeBtnClick()">Close</button>

                <button type="submit" class="btn btn-primary" [disabled]="editClient.invalid">Save</button>
            </div>
        </form>
    </div>
</ng-template>

<!--- Modal for complete Table -->