<!-- ============================================================== -->
<!-- Report -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <div class="col-lg-6">
        <!-- You can find this in the dashboard-component -->
        <app-faculties-curriculum></app-faculties-curriculum>
    </div>
    <div class="col-lg-6">
        <!-- You can find this in the dashboard-component -->
        <app-faculties></app-faculties>
    </div>
</div>
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <app-subjects-info></app-subjects-info>
    </div>
</div>
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <app-so-folders-info></app-so-folders-info>
    </div>
</div>