<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <!-- You can find this in the dashboard-component -->
        <app-project-counter></app-project-counter>
    </div>
</div>
<!-- ============================================================== -->
<!-- chart and stats -->
<!-- ============================================================== -->
<div class="row">
    <!-- chart component -->
    <div class="col-lg-9 col-md-12">
        <app-monthly-income></app-monthly-income>
    </div>
    <!-- other chart component -->
    <div class="col-lg-3 col-md-12">
        <app-visit-separation></app-visit-separation>
    </div>
</div>
<!-- ============================================================== -->
<!-- Report and Comments -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <div class="col-lg-6">
        <!-- You can find this in the dashboard-component -->
        <app-earning-report></app-earning-report>
    </div>
    <div class="col-lg-6">
        <!-- You can find this in the dashboard-component -->
        <app-recent-comment></app-recent-comment>
    </div>
</div>
<!-- Row -->
<!-- ============================================================== -->
<!-- Carousel widgets -->
<!-- You can find this in the dashboard-component -->
<!-- ============================================================== -->
<app-social-slider></app-social-slider>
<!-- ============================================================== -->
<!-- Activity widgets -->
<!-- You can find this in the dashboard-component -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-6 col-xlg-9">
        <app-activity-timeline></app-activity-timeline>
    </div>
    <div class="col-lg-6 col-xlg-3">
        <app-profile-box></app-profile-box>
    </div>
</div>